$accent-color: crimson;

@mixin userName {
    color: $accent-color;
    font-size: small;
    text-align: center;
    text-decoration: underline;
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option {
            padding: 10px 15px;
            cursor: pointer;
            display: flex;
            flex-direction: column;

            .display-name {
                @include userName();

                &:hover {
                    transform: scale(1.5);
                    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
                }
            }
        }
    }
}